* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
}
a {
  text-decoration: none;
  color: rgb(255, 183, 1);
  background-color: inherit;
  border: none;
}
ul li {
  list-style: none;
  text-decoration: none;
}
.main-container {
  display: flex;
  justify-content: center;
  height: 300vh;
}

.container {
  overflow-wrap: normal;

  margin: 0 auto;
  width: 80%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 2fr 1.5fr 2fr 2fr 2fr 1fr 1fr;

  grid-template-areas:
    "navbar navbar navbar"
    "hero hero hero"
    "tools tools tools"
    "projects  projects projects"
    "skills skills skills"
    "social social social"
    "footer footer footer";
}

.navbar {
  grid-area: navbar;
  width: 90%;

  margin-top: 3%;
  .nav {
    display: flex;
    justify-content: space-between;

    text-align: center;
    margin: auto auto;
    color: rgb(255, 183, 1);
    p {
      align-self: start;
      font-size: x-large;
      font-family: Josefin Sans;
      letter-spacing: 2px;
      border: 1px solid rgb(255, 224, 124);
      padding: 2%;
    }
    .ul {
      display: flex;
      font-family: Josefin Sans;

      gap: 20%;
      align-items: center;
      li {
        font-size: 20px;
        transition: 0.5s;
      }
    }
  }
}
.hero {
  grid-area: hero;
  display: flex;
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  background-position: 100% 40%;

  // background-attachment: fixed;
  bottom: 100px;
  float: right;
}
.tools {
  grid-area: tools;
  color: rgb(255, 183, 1);
  // padding-top: 5%;
  font-family: Josefin Sans;
  font-size: 24px;
  margin-top: 10%;

  h3 {
    opacity: 0.3;
    margin-top: 2px;
  }
  .icons {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 80px;
    img {
      height: 100px;
      width: auto;
    }
    .icons-item {
      height: 100px;
      width: 250px;
    }
  }
}
.projects {
  margin-top: 10%;
  grid-area: projects;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 183, 1);
  padding-top: 20px;

  font-family: Josefin Sans;
  font-size: 24px;
  opacity: 0.9;
  .cardsLayout {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    .card {
      margin-top: 5%;

      border-radius: 5%;
      height: 450px;
      width: 300px;
      background-color: rgb(29, 32, 32);
      width: 100%;
      height: 550px;
      object-fit: cover;
      object-position: 50% 50%;
      transition: margin-top 1.5s;
      img {
        border-radius: 1%;
      }
      p {
        text-align: center;
        background-color: inherit;
        margin-top: 50px;
        padding: 0 5px;
        opacity: 0.8;
      }
      .links {
        width: 80%;
        margin-left: 10%;

        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        background-color: inherit;

        .fa-eye {
          margin-top: 10px;
          display: inline-block;
          background-color: inherit;
        }
      }
    }
    .card:hover {
      margin-top: 3%;
    }
  }
}

.skills {
  grid-area: skills;
  font-family: Josefin Sans;
  margin-top: 10%;

  h1 {
    text-align: start;
    color: rgb(255, 183, 1);
    opacity: 0.6;
    background-color: inherit;
    display: inline-block;
    font-size: 50px;
  }
  .languages {
    display: flex;
    justify-content: space-around;
    p {
      color: rgb(255, 183, 1);
      background-color: inherit;
      font-size: 30px;
      margin-top: 40px;
    }
  }
  .framework {
    display: flex;
    padding-top: 5%;
    color: rgb(255, 183, 1);
    justify-content: space-around;
    padding-bottom: 10%;

    p {
      background-color: inherit;
      font-size: 30px;
    }
  }
}
.socialLinks {
  grid-area: social;
  margin-top: 10%;
  color: rgb(255, 183, 1);
  font-family: Josefin Sans;
  padding-bottom: 50px;
  height: 300px;
  h1 {
    font-size: 50px;
  }
  img {
    height: 50px;
    width: auto;
  }
  .socialMedia {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;

    p {
      padding-top: 12px;
    }
  }
}
.footer {
  grid-area: footer;
  background-color: rgb(150, 108, 1);
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

  p {
    color: rgb(0, 0, 0);
    background-color: inherit;
    font-size: 24px;
    font-family: Josefin Sans;
  }
}

.tagline {
  margin-top: 6%;
  font-family: "Poppins";

  h1 {
    color: rgb(255, 235, 198);
    font-family: "Poppins";
    display: inline-block;
    text-align: left;
    font-size: 40px;

    opacity: 0.5;
  }
  button {
    color: rgb(255, 235, 198);
    padding: 2% 3%;
    background-color: rgb(0, 0, 0);
    border: 0.3px solid rgba(255, 235, 198, 0.473);
    margin-top: 8%;
    font-family: "Poppins";
    position: relative;
    overflow: hidden;
    transition: 0.5s;
  }
  button:hover {
    cursor: pointer;
    color: black;
    background: rgb(255, 183, 1);
    box-shadow: 0 0 20px #ffb35c5d, 0 0 40px #ffb35c5d, 0 0 60px #ffb35c5d;
  }
}

.fa-wrench {
  color: rgb(122, 122, 122) !important;
}
.fa-eye a {
  transform: scale(1);
  transition: transform 1.5s;
}
.fa-eye a:hover {
  transform: scale(1.15);
}
