* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: rgb(255, 183, 1);
  background-color: inherit;
  border: none;
}
ul li {
  list-style: none;
  text-decoration: none;
}
ul li:hover {
  cursor: pointer;
}
.main-container {
  display: flex;
  justify-content: center;
  .fa-arrow-up {
    font-size: 30px;
    color: rgb(255, 183, 1);
    display: inline-block;

    padding-left: 1%;
    padding-top: 200%;
    position: fixed;
    bottom: 40px;
  }
  .fa-arrow-up:hover {
    cursor: pointer;
  }
}

.container {
  overflow-wrap: normal;

  margin: 0 auto;
  width: 80%;
  height: inherit;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.5fr 1.5fr 2fr 2fr 1fr 0.5fr;

  grid-template-areas:
    "navbar navbar navbar"
    "hero hero hero"
    "tools tools tools"
    "projects  projects projects"
    "skills skills skills"
    "social social social"
    "footer footer footer";
}

.navbar {
  grid-area: navbar;
  width: 90%;

  margin-top: 3%;
  .nav {
    display: flex;
    justify-content: space-between;

    text-align: center;
    margin: auto auto;
    color: rgb(255, 183, 1);
    p {
      align-self: start;
      font-size: 140%;
      font-family: Josefin Sans;
      letter-spacing: 2px;
      border: 1px solid rgb(255, 224, 124);
      padding: 2%;
    }
    .ul {
      display: flex;
      font-family: Josefin Sans;

      gap: 20%;
      align-items: center;
      li {
        font-size: 20px;
        transition: 0.5s;
      }
    }
  }
}
.hero {
  grid-area: hero;
  display: flex;
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  background-position: 100% 25%;

  bottom: 100px;
  float: right;
  img {
    width: 60%;
  }
}
.tools {
  grid-area: tools;
  color: rgb(255, 183, 1);
  // padding-top: 5%;
  font-family: Josefin Sans;
  font-size: 150%;
  margin-top: 5%;

  h3 {
    opacity: 0.3;
    margin-top: 2px;
  }
  .icons {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 80px;
    img {
      height: 100px;
      width: auto;
    }
    .icons-item {
      height: 5%;
      width: 10%;
    }
  }
}
.projects {
  margin-top: 2%;
  grid-area: projects;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 183, 1);
  padding-top: 20px;

  font-family: Josefin Sans;
  font-size: 24px;
  opacity: 0.9;
  .cardsLayout {
    width: 100%;
    display: flex;
    justify-content: space-between;

    gap: 30px;
    .card {
      margin-top: 5%;
      border-radius: 5%;
      height: 550px;
      width: 30%;
      background-color: rgb(29, 32, 32);
      object-fit: cover;
      width: 100%;

      transition: margin-top 1.5s;
      img {
        border-radius: 1%;
      }
      p {
        text-align: center;
        background-color: inherit;
        margin-top: 50px;
        padding: 0 5px;
        opacity: 0.8;
      }
      .links {
        width: 80%;
        margin-left: 10%;

        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        background-color: inherit;

        .fa-eye {
          margin-top: 10px;
          display: inline-block;
          background-color: inherit;
        }
        .icons-item {
          background-color: inherit;
        }
      }
    }
    .card:hover {
      margin-top: 3%;
    }
  }
}

.skills {
  grid-area: skills;
  font-family: Josefin Sans;
  padding-top: 10%;
  align-items: center;

  h1 {
    text-align: start;
    color: rgb(255, 183, 1);
    opacity: 0.6;
    background-color: inherit;
    display: inline-block;
    font-size: 50px;
  }
  .languages {
    display: flex;
    justify-content: space-around;
    p {
      color: rgb(255, 183, 1);
      background-color: inherit;
      font-size: 30px;
      margin-top: 40px;
    }
  }
  .framework {
    display: flex;
    padding-top: 5%;
    color: rgb(255, 183, 1);
    justify-content: space-around;
    padding-bottom: 10%;

    p {
      background-color: inherit;
      font-size: 30px;
    }
  }
}
.socialLinks {
  grid-area: social;
  margin-top: -10%;

  color: rgb(255, 183, 1);
  font-family: Josefin Sans;
  padding-bottom: 50px;
  height: 300px;
  h1 {
    font-size: 50px;
  }
  img {
    height: 50px;
    width: auto;
  }
  .socialMedia {
    display: flex;
    justify-content: space-around;

    p {
      padding-top: 12px;
    }
  }
}
.footer {
  grid-area: footer;
  background-color: rgb(255, 183, 1);
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

  p {
    color: rgb(0, 0, 0);
    background-color: inherit;
    font-size: 160%;
    font-family: Josefin Sans;
  }
}

.tagline {
  margin-top: 6%;
  font-family: "Poppins";

  h1 {
    color: rgb(255, 235, 198);
    font-family: "Poppins";
    display: inline-block;
    text-align: left;
    font-size: clamp(30px, 6vh, 80px);

    background-color: inherit;

    opacity: 0.5;
  }
  button {
    color: rgb(255, 235, 198);
    padding: 2% 3%;
    background-color: rgb(0, 0, 0);
    border: 0.3px solid rgba(255, 235, 198, 0.473);
    margin-top: 8%;
    font-family: "Poppins";
    position: relative;
    overflow: hidden;
    transition: 0.5s;
  }
  button:hover {
    cursor: pointer;
    color: black;
    background: rgb(255, 183, 1);
    box-shadow: 0 0 20px #ffb35c5d, 0 0 40px #ffb35c5d, 0 0 60px #ffb35c5d;
  }
  button:focus {
    border: transparent;
  }
}

.fa-wrench {
  color: rgb(122, 122, 122) !important;
}
.fa-eye a {
  transform: scale(1);
  transition: transform 1.5s;
}
.fa-eye a:hover {
  transform: scale(1.15);
}

//=====================================================================================================/
//Make Navbar responsive
//====================================================================================================

//================================================================================================//
// MEDIA QUERIES
//=================================================================================================//

@media only screen and (max-width: 600px) {
  .ul li {
    display: none;
  }
  .nav {
    p {
      margin-left: -10px;
    }
  }
  .hero {
    img {
      display: none;
    }
  }

  .tagline {
    margin-top: -50%;
    font-family: "Poppins";

    h1 {
      color: rgb(255, 235, 198);
      font-family: "Poppins";
      display: inline-block;
      text-align: left;
      font-size: clamp(20px, 6vh, 60px);

      background-color: inherit;

      opacity: 0.6;
    }
    button {
      color: rgb(255, 235, 198);
      padding: 2% 3%;
      background-color: rgb(0, 0, 0);
      border: 0.3px solid rgba(255, 235, 198, 0.473);
      margin-top: 6%;
      font-family: "Poppins";
      position: relative;
      overflow: hidden;
      transition: 0.5s;
    }
    button:hover {
      cursor: pointer;
      color: black;
      background: rgb(255, 183, 1);
      box-shadow: 0 0 20px #ffb35c5d, 0 0 40px #ffb35c5d, 0 0 60px #ffb35c5d;
    }
    button:focus {
      border: transparent;
    }
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "navbar"
      "hero"
      "tools tools tools"
      "projects "
      "skill"
      "social"
      "footer";
  }
}
